body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #5e17eb;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    color: hsl(0, 0%, 100%);
    text-align: center;
}

 h2 {
    color: #5e17eb;
    text-align: center; /* Centra los títulos */
}

section {
    padding: 20px;
    margin: 20px 0;
    text-align: center; /* Centra el contenido de la sección */
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    display: inline-block; /* Hace que los productos se alineen horizontalmente */
}

.imagen-producto {
    width: 200px; /* Ajusta el tamaño de las imágenes */
    height: auto;
}

.imagen-banner {
    width: 100%; /* Ajusta el banner para que ocupe todo el ancho */
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.centrado {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
}
